body{
    margin: 0;
    padding: 0;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Product-card .Product-img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}
.Product-img img{
    height: 500px;
}